streamlit==1.32.2
numpy==1.26.4
pandas==2.2.1
plotly==5.20.0
folium==0.16.0
streamlit-folium==0.20.0
scipy==1.13.0
scikit-learn==1.4.2
libpysal==4.9.2
esda==2.5.0
mgwr==2.2.1
matplotlib==3.8.4
shapely==2.0.4
geopandas==0.14.4
plotly>=5.0.0
streamlit>=1.40.0
